body{
    margin: auto;
}

.nvb-block{
    width: 100%;
    height: 113px;
    background: #803E38 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
}

#items{
    margin-top: 45px;
    flex-direction: row;
    text-align: center;
    font: normal normal normal 20px/25px Barlow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.nvb-logo{
    margin-top: 10px;
    text-align: center;
}

.section1{
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: url('images/920.png');
    background-repeat: no-repeat;
}

.hah{
    position: absolute;
    margin-top: 350px;
    height: 250px; 
}

#sm-txt{
    font-size: 50px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

#lg-txt{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;

}

#sec1-button, #sec2-button, #sec3-button, #sec3-button2, #sec5-button{
    border-radius: 25px 0px 25px 0px;
    padding: 10px 50px 10px 50px;
    background-color: #483224;
    color:#FFFFFF;
    z-index: 200;

}

.section2{
    padding: 20px;
    text-align: center;
    background: #D1C1A5 0% 0% no-repeat padding-box;
}

.sec2-lg-txt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#FFFFFF;
}

.sec2-sm-txt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:#483224;
}

.section3{
    padding: 50px 0px 50px 0px;
    display: block;
}

hr{
    color: #803E38;
}

.sec3-lg-txt{
    font-size: 40px;
    color: #803E38;
    text-align: center;
}

.sec3-sm-txt{
    text-align: center;
    font-size: 15px;
    color: #483224;
}

.button3{
    display: block;
    margin:auto;
}

.saloon-services{
    background-image: url('images/1788.png');
    background-repeat: no-repeat;
    background-position: right top 0px;
    border-radius: 100px 0px 0px 0px;
    height: 400px;
}

.svg-service{
    position: absolute;
    margin-top: 80px;
}

.sec3-services, .sec4-services, .sec5-services{
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    color: #803E38;
    font-size: 1.3em;
}


.sec3-lg-txt2, .sec5-lg-txt{
    color: #803E38;
    position: absolute;
    margin-top: 120px;
    font-size: 4em;
}

.sec3-sm-txt2, .sec5-sm-txt{
    position: absolute;
    margin-top: 230px;
    font-size: 20px;
    text-align: left;
}

.sec3button2, .sec5-button{
    position: absolute;
    margin-top: 335px;
}

.sec3-bottom-arrow{
    display: block;
    color: #A4554E;
    text-align: center;
    margin-top: 30px;
}

.section4{
    background-image: url('images/13956.png');
    height: 500px;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px; 
    display: block;
  
}

.sec4-text-fill{
    background-color: #803E38;
    height: 100%;
    border-radius: 0px 300px 0px 0px;
}

.sec4-lg-txt{
    color:#FFFFFF;
    position: absolute;
    margin-top: 120px;
    font-size: 4em;
}

.sec4-sm-txt{
    color:#FFFFFF;
    position: absolute;
    margin-top: 230px;
    font-size: 20px;
    text-align: left;
}
.sec4-services{
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    color:#FFFFFF;
    font-size: 1.3em;
}

.sec4button{
    border-radius: 25px 0px 25px 0px;
    padding: 10px 50px 10px 50px;
    background-color: #D1C1A5;
    color: #483224;
    position: absolute;
    margin-top: 350px;

}

.sec4-bottom-arrow{
    color: #D1C1A5;
    position: absolute;
    margin-top: 450px;
}

.section5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 70px;
    height: 500px;
    border-radius: 0px 150px 0px 200px;
    background-image: url('images/635676-POCVFD-599.png');
    background-repeat: no-repeat;
    background-position: 0%;
}

.bridal-service{
    position: right;
    height: 100%;
    border-radius: 0px 200px 0px 0px;
    background:rgba(255, 255, 255, 0.4);
    
}


.sec4-bottom-arrow{
    color: #A4554E;
    position: absolute;
    margin-top: 450px;

}

#section5-center{
    margin-left: 50px;
    text-align: left;
}